<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Enterprise Website Builder</h2>
            <h3 class="oe_slogan">Get an awesome website, easily customizable</h3>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                 <iframe width="361" height="200" src="//www.youtube.com/embed/pp7OCqWoRjQ" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                Create enterprise grade website with our super easy builder. Use
                finely designed building blocks and edit everything inline.
            </p><p>
                Benefit from out-of-the-box business features; e-Commerce,
                events, blogs, jobs announces, customer references,
                call-to-actions, etc.
            </p>
            <div class="oe_centeralign oe_websiteonly">
                <a href="http://www.cloudbridge.com.sg/start?app=website" class="oe_button oe_big oe_tacky">Create your <span class="oe_emph">free</span> website</a>
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Edit Anything Inline</h2>
        <h3 class="oe_slogan">What You See Is What You Get. Really!</h3>
        <div class="oe_span6">
            <p class='oe_mt32'>
                Create beautiful websites with no technical knowledge. Odoo's unique
                <em>'edit inline'</em> approach makes website creation
                surprisingly easy. No more complex backend; just click anywhere to 
                change any content.
            </p><p>
                "Want to change the price of a product? or put it in bold? Want to
                change a blog title?" Just click and change. What you see is what
                you get. Really.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img oe_centered">
                <img class="oe_picture oe_screenshot" src="website_edit.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Awesome. Astonishingly Beautiful.</h2>
        <h3 class="oe_slogan">Design using clean building blocks</h3>
        <div class="oe_span6">
            <iframe width="361" height="200" src="//www.youtube.com/embed/eGLs9oq_Me4" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="oe_span6">
           <p class='oe_mt32'>
                Odoo's building blocks allow to design modern
                websites that are not possible with traditional WYSIWYG page
                editors.
            </p><p>
                Whether it's for products descriptions, blogs or static pages,
                you don't need to be a professioanl designer to create clean
                contents. Just drag and drop and customize predefined building
                blocks.
           </p>
        </div>
   </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Enterprise-Ready, out-of-the-box</h2>
        <h3 class="oe_slogan">No synchronization, full integration.</h3>
        <div class="oe_span6">
          <p class='oe_mt32'>
            Activate ready-to-use enterprise features in just a click;
            e-commerce, call-to-actions, jobs announces, events, customer
            references, blogs, etc.
          </p><p>
            Traditional eCommerce and CMS have poorly designed backends as it's not their
            core focus. With the Odoo integration, you benefit from the
            best management software to follow-up on your orders, your jobs
            applicants, your leads, etc.
          </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="website_events.png">
        </div>
   </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">A Great Mobile Experience</h2>
        <h3 class="oe_slogan">Responsive content on all pages</h3>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="website_mobile.png">
            </div>
        </div>
        <div class="oe_span6">
          <p class='oe_mt32'>
              Get a mobile friendly website thanks to our responsive design
              based on bootstrap. All your pages adapt automatically to the
              screen size. (mobile phones, tablets, desktop) You don't have to
              worry about mobile contents, it works by default.
          </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Attract New Visitors Efficiently</h2>
        <h3 class="oe_slogan">SEO tools at your finger tips</h3>
        <div class="oe_span6">
          <p class='oe_mt32'>
              The <i>Promote</i> tool suggests keywords according to
              Google most searched terms. Search Engine Optimization tools are
              ready to use, with no configuration required.
          </p><p>
              Google Analytics tracks your shopping cart events by default.
              Sitemap and structured content are created automatically for
              Google indexation.
          </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                     <iframe width="361" height="200" src="//www.youtube.com/embed/5PKqZpl0TcA" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Multi-Languages Made Easy</h2>
        <h3 class="oe_slogan">Propagate changes and automate translations</h3>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="openerp_translation_tool.png">
            </div>
        </div>
        <div class="oe_span6">
          <p class='oe_mt32'>
              Get your website translated in multiple languages with no effort.
              Odoo proposes and propagates translations automatically
              across pages, following what you edit on the master page.
          </p>
              Benefit from professional translators to translate all your
              contents automatically with the <a href="http://gengo.com"
              target="_blank">Gengo</a> integration. Update any part of
              your website and the translated versions are pushed
              automatically in a few hours.
          </p>
        </div>
   </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Designer-Friendly Templates</h2>
        <h3 class="oe_slogan">Designers love working on Odoo</h3>
        <div class="oe_span6">
          <p class='oe_mt32'>
              Templates are awesome and easy to design. You don't need to develop
              to create new pages, themes or building blocks. We use a clean
              HTML structure, a <a href="http://getbootstrap.com/">bootstrap</a>
              CSS.
          </p><p>
              Customize every page on the fly with the integrated template
              editor. Distribute your work easily as an Odoo module.
          </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="website_editor.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Fluid Grid Layouting</h2>
        <h3 class="oe_slogan">Organize building blocks easily</h3>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="website_grid.png">
            </div>
        </div>
        <div class="oe_span6">
          <p class='oe_mt32'>
              Design perfect pages by drag and dropping building blocks. Move
              and scale them to fit the layout you are looking for.
          </p><p>
              Building blocks are based on a responsive, mobile friendly fluid
              grid system that appropriately scales up to 12 columns as the
              device or viewport size increases.
          </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Professional Themes</h2>
        <h3 class="oe_slogan">Change Theme in Just a Click</h3>
        <div class="oe_span6">
           <p class='oe_mt32'>
                Design a custom theme or reuse pre-defined themes to
                customize the look and feel of your website.
            </p><p>
                Test new color scheme easily; you can change your theme
                at any time in just a click.
           </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="website_theme.png">
        </div>
   </div>
</section>


<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Integrated With Odoo Apps</h2>
        <h3 class="oe_slogan oe_mb32">Get hundreds of open source apps for free</h3>
        <div class="oe_span4">
            <a href="/apps/website_sale">
                <div class="oe_row_img oe_centered">
                    <img class="oe_picture oe_screenshot" src="ecommerce.png">
                </div>
                <h3>e-Commerce</h3>
            </a>
            <p>
                Promote products, sell online, optimize visitors' shopping experience.
            </p>
        </div>
        <div class="oe_span4">
            <a href="/apps/website_blog">
                <div class="oe_row_img oe_centered">
                    <img class="oe_picture oe_screenshot" src="blog.png">
                </div>
                <h3>Blogs</h3>
            </a>
            <p>
                Write news, attract new visitors, build customer loyalty.
            </p>
        </div>
        <div class="oe_span4">
            <a href="/apps/website_event">
                <div class="oe_row_img oe_centered">
                    <img class="oe_picture oe_screenshot" src="event.png">
                </div>
                <h3>Online Events</h3>
            </a>
            <p>
                Schedule, organize, promote or sell events online; conferences,
                trainings, webinars, etc.
            </p>
        </div>
    </div>
</section>

