<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Manufacturing Resource Planning</h2>
            <h3 class="oe_slogan">Manage Bill of Materials, Plan Manufacturing Orders, Track Work Orders</h3>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                    <img src="mrp_product.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
Get all your assembly or manufacturing operations managed by Odoo. Schedule
manufacturing orders and work orders automatically. Review the proposed
planning with the smart kanban and gantt views. Use the advanced analytics
features to detect bottleneck in resources capacities and inventory locations.
            </p>
        </div>
    </div>
</section>


<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Schedule Manufacturing Orders Efficiently</h2>
        <div class="oe_span6">
            <p class="oe_mt32">
Get manufacturing orders and work orders scheduled automatically based on your
procurement rules, quantities forecasted and dependent demand (demand for this
part based on another part consuming it).
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="mrp_calendar.png">
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Define Flexible Master Data</h2>
        <h3 class="oe_slogan">Products, Bill of Materials and Work Order Operations</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="mrp_bom.png">
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
Get the flexibility to create multi-level bill of materials, optional Work Order Operations,version changes and kits. You can use BoM for kits or for
manufacturing orders.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Get Flexibility In All Operations</h2>
        <div class="oe_span6">
            <p class="oe_mt32">
            Edit manually all proposed operations at any level of the progress.
            With Odoo, you will not be frustrated by a rigid system.
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="mrp_mo.png">
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Schedule Work Orders</h2>
        <h3 class="oe_slogan">Check resources capacities and fix bottlenecks</h3>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture" src="manufacturing_illu_02.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
Define Work Order Operations and plan the working time and capacity of your resources.
Quickly identify resource requirements and bottlenecks to ensure your production
meets your delivery schedule dates.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_centeralign oe_padded oe_mb32">
    <div class='oe_cover'>
        <img src="/mrp/static/description/ebook-manufacturing.png">
    </div>
    <a href="http://www.cloudbridge.com.sg/ebooks/manufacturing" target="_blank" class="oe_button oe_big">Download our free E-book</a>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">A Productive User Interface</h2>
        <h3 class="oe_slogan">Work with lists, calendars or gantt charts</h3>
        <div class="oe_span12">
            <p>
Organize manufacturing orders and work orders the way you like it. Process next
orders from the list view, control in the calendar view and edit the proposed
schedule in the Gantt view.
            </p>
        </div>
        <div class="oe_span4">
            <h3>Lists</h3>
            <div class="oe_row_img oe_centered">
            <img class="oe_picture oe_screenshot" src="mrp_list.png">
            </div>
        </div>
        <div class="oe_span4">
            <h3>Gantt Charts</h3>
            <img class="oe_picture oe_screenshot" src="mrp_gantt.png">
            </p>
        </div>
        <div class="oe_span4">
            <h3>Calendar</h3>
            <img class="oe_picture oe_screenshot" src="mrp_calendar.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Inventory &amp; Manufacturing Analytics</h2>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture" src="manufacturing_illu_02.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
Track the evolution of the stock value, according to the level of manufacturing
activities as they progress in the transformation process.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Fully Integrated with Operations</h2>
        <h3 class="oe_slogan">Sales, Purchases and Accounting integration</h3>
        <div class="oe_span6">
          <p class='oe_mt32'>
Get your manufacturing resource planning accurate with it's full integration
with sales and purchases apps. The accounting integration allows real time
accounting valuation and deeper reporting on costs and revenues on your
manufacturing operations.
          </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img oe_centered">
                <img class="oe_picture" src="mrp_integrate.png">
            </div>
        </div>
   </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <div class="oe_span12">
            <h2 class="oe_slogan">Many companies already enjoy it</h2>
            <h3 class="oe_slogan">Hear what they have to say !</h3>
        </div>
        <div class="oe_span6">
            <div class="oe_quote">
                <q>
					Odoo allowed our company to efficiently manage a growth from a turnover of 2.4m€ to 15m€ in 4 years.
                </q>
                <cite class="oe_cite oe_clearfix">
                    <img class="oe_photo" src="coppernic.png">
                    <div class="oe_author">Jacky Lecuivre</div>
                    <div class="oe_job">President at <a href="http://coppernic.fr" target="_blank">Coppernic</a>.</div>
                </cite>
            </div>
        </div>
    </div>
</section>
<section class="oe_container oe_separator">
</section>
