<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Mass Mailing Made Easy</h2>
        <h3 class="oe_slogan">Design, Send, Track Emails</h3>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img src="mass_mailing_campaign.png" class="oe_picture oe_screenshot">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
Easily send mass mailing to your leads, opportunities or customers. Track
marketing campaigns performance to improve conversion rates. Design
professional emails and reuse templates in a few clicks.
            </p>
            <div class="oe_centeralign oe_websiteonly">
                <a href="http://www.cloudbridge.com.sg/start" class="oe_button oe_big oe_tacky">Start your <span class="oe_emph">free</span> trial</a>
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Send Professional Emails</h2>
        <div class="oe_span6">
            <p class='oe_mt32'>
Import database of prospects or filter on
existing leads, opportunities and customers in just a few clicks.
            </p><p>
Define email templates to reuse content or specific design for your newsletter.
Setup several email servers with their own IP/domain to optimise opening rates.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="mass_mailing_composer.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Organize Marketing Campaigns</h2>
        <h3 class="oe_slogan">Design, Send, Track by Campaigns</h3>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="mass_mailing_campaign.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                Get real time statistics on campaigns performance to improve your
                conversion rate. Track mails sent, received, opened and
                answered.
            </p><p>
                Easily manage your marketing campaigns, discussion groups,
                leads and opportunities in one simple and powerful platform.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Integrated with Odoo Apps</h2>
        <h2 class="oe_slogan"></h2>
        <div class="oe_span6">
            <p class='oe_mt32'>
Get access to mass mailing features from every Odoo app to improve
the way your users communicate.
            </p><p>
Send template of emails from <a href="/apps/crm">CRM</a> opportunities, select leads based on
marketing segments, send <a href="/apps/hr_recruitment">jobs offers</a> and automate answers to applicants, reuse
email template in the <a href="/apps/marketing_campaign">lead automation marketing campaigns</a>.
            </p><p>
Answers to your emails appears automatically in the history of every document with the 
<a href="/apps/mail">social network</a> module.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="mass_mailing_tasks.png">
            </div>
        </div>
   </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Clean Your Lead Database</h2>
        <h3 class="oe_slogan">Handle bounce and conversion rates</h3>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="mass_mailing_mailing.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                Get a clean lead database that improves over the time using the
                performance of your mails. Odoo handle bounce mails
                efficiently, flag erroneous leads accordingly and gives you
                statistics on the quality of your leads.
            </p>
        </div>
   </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
      <h2 class="oe_slogan">One click emails send</h2>
      <h3 class="oe_slogan">Select any documents, send emails</h3>
      <div class="oe_span6">
            <p class='oe_mt32'>
The marketing department will love working on campaigns. But you can also
give a one click mass mailing facility to all others users on their own
prospects or documents.
            </p><p>
Select a few documents (e.g. leads, support tickets, suppliers, applicants,
...) and send emails to their contacts in one click, reusing existing emails
templates.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="mass_mailing_composer.png">
            </div>
        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Follow-up On Answers</h2>
        <h3 class="oe_slogan">Communicate efficiently with prospects</h3>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="mass_mailing_history.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
The chatter feature enables you to communicate faster and more efficiently with
your customer. Get documents created automatically (leads, opportunities,
tasks, ...) based on answers to your mass mailing campaigns Follow the
discussion directly on the business documents within Odoo or via email.
            </p><p>
Get all the negotiations and discussions attached to the right document
and relevent managers notified on specific events.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Campaigns Dashboard</h2>
        <h3 class="oe_slogan">Analyse the performance of your campaigns</h3>
        <div class="oe_span6">
            <p class="oe_mt32">
Get the insights you need to make smarter marketing campaign. Track statistics
per campaign: bounce rates, sent mails, best content, etc. The clear dashboards
gives you a direct overview of your campaign performance.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="mass_mailing_dashboard.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Fully Integrated With Others Apps</h2>
        <h3 class="oe_slogan">Efficient mailing for every users</h3>
    </div>
    <div class="oe_row">
        <div class="oe_span4">
            <a href="/apps/marketing_campaign">
                <h3>Lead Automation</h3>
                <div class="oe_row_img oe_centered">
                    <img class="oe_picture oe_screenshot" src="app_marketing_campaign.png">
                </div>
            </a>
            <p>
                Define automated actions (e.g. ask a salesperson to call, send
                an email, ...) based on triggers (no activity since 20 days,
                answered a promotional email, etc.)
            </p><p>
                Optimize campaigns from lead to close, on every channel. Make
                smarter decisions about where to invest and show the impact of
                your marketing activities on your company's bottom line.
            </p>
        </div>
        <div class="oe_span4">
            <a href="/apps/website_crm">
                <h3>Website Forms</h3>
                <div class="oe_row_img oe_centered">
                    <img class="oe_picture oe_screenshot" src="app_website_crm.png">
                </div>
            </a>
            <p>
                Integrate a  contact form in your website easily.  Forms
                submissions create leads automatically in Odoo CRM. Leads
                can be used in marketing campaigns.
            </p>
        </div>
        <div class="oe_span4">
            <a href="/apps/crm">
                <h3>CRM</h3>
                <div class="oe_row_img oe_centered">
                    <img class="oe_picture oe_screenshot" src="app_crm.png">
                </div>
            </a>
            <p>
Manage your sales funnel with no effort. Attract leads, follow-up on phone
calls and meetings. Analyse the quality of your leads to make informed
decisions and save time by integrating emails directly into the application.
            </p>
        </div>
    </div>
</section>

