<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">A very friendly Point of Sale</h2>
            <h3 class="oe_slogan">Set up in a minute, Sell in seconds</h3>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                    <img src="pos_sc_02.jpg">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                Odoo's Point of Sale introduces a super clean interface with no installation required
                that runs online and offline on modern hardwares.
            </p>
            <p>
                It's full integration with the company inventory and accounting, gives you real time statistics and
                consolidations amongst all shops without the hassle of integrating several applications.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <div class="oe_span12">
            <h2 class="oe_slogan">Work with the hardware you already have</h2>
            <h3 class="oe_slogan">Desktops, laptops, tablets, it runs on everything</h3>
        </div>
        <div class="oe_span12">
            <img class='oe_centered' src="pos_devices.png">
        </div>
        <div class="oe_span4">
            <h3>In your web browser</h3>
            <p>
            Odoo's POS is a web application that can run on any device that can
            display websites with little to no setup required.
            </p>
        </div>
        <div class="oe_span4">
            <h3>Touchscreen or Keyboard ?</h3>
            <p>
            The Point of Sale works perfectly on any kind of touch enabled device, whether it's
			multi-touch tablets like an iPad or keyboardless resistive touchscreen terminals.
            </p>
        </div>
        <div class="oe_span4">
            <h3>Scales and Printers</h3>
            <p>
            Barcode scanners and printers are supported out of the box with no setup required.
            Scales, cashboxes, and other peripherals can be used with the
            proxy API.
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">

        <h2 class="oe_slogan">Online and Offline</h2> 
        <h3 class="oe_slogan">Odoo's POS stays reliable even if your connection isn't</h3>

        <div class="oe_span6">
            <div class="oe_bg_img">
                <img src="pos_offline.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                Deploy new stores with just an internet connection:
                <b>no installation, no specific hardware required</b>. It works with any
                <b>iPad, Tablet PC, laptop</b> or industrial POS machine.
            </p><p>
                While an internet connection is required to start the Point of Sale, 
                it will stay operational even after a complete disconnection.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_centeralign oe_padded oe_mb32">
    <div class='oe_cover'>
        <img src="/point_of_sale/static/description/ebook-manufacturing.png">
    </div>
    <a href="http://www.cloudbridge.com.sg/ebooks/manufacturing" target="_blank" class="oe_button oe_big">Download our free E-book</a>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class='oe_slogan'>A super clean user interface</h2>
        <h3 class='oe_slogan'>The point of sale software retailers love to use</h3>
    </div>
    <div class='oe_row'>
        <div class='oe_span4'>
            <img class="oe_picture oe_screenshot" src="pos_ui_03.png">
            <h3>Simple and beautifull</h3>
            <p>
                Say goodbye to ugly, outdated POS software and enjoy the Odoo
                web interface designed for modern retailer.
            </p>
        </div>
        <div class='oe_span4 '>
            <img class="oe_picture oe_screenshot" src="pos_ui_01.png">
            <h3>Designed for Productivity</h3>
            <p>
            Whether it's for a restaurant or a shop, you can activate the multiple
            tickets in parallel to not make your customers wait.
            </p>
        </div>
        <div class='oe_span4 '>
            <img class="oe_picture oe_screenshot" src="pos_ui_02.png">
            <h3>Blazing fast search</h3>
            <p>
            Scan products, browse through hierarchical categories, or get quick
            information about products with the blasting fast filter accross
            all your products.
            </p>
        </div>
    </div>
</section>

<section class='oe_container'>
    <div class='oe_row'>
        <h2 class="oe_slogan">Integrated Inventory Management</h2>
        <div class='oe_span6'>
            <img class="oe_picture oe_screenshot" src="pos_product_form.png">
        </div>
        <div class='oe_span6'>
            <p>
            Consolidate all your sales channels in real time: stores, ecommerce, sales teams.
            Get real time control of the inventory and accurate forecasts to manage procurements.
            </p>
            <p>
			A full warehouse management system at your fingertips: get information
			about products availabilities, trigger procurement requests, etc.
            </p>
        </div>
    </div>
</section>

<section class='oe_container oe_dark'>
    <div class='oe_row'>
		<h2 class='oe_slogan'>Deliver in-store customer services</h2>
		<h3 class='oe_slogan'>Repairs, warantees, deliveries, etc.</h3>
        <div class='oe_span6'>
            <p>
			Give your shopper a strong experience by integrating in-store
			customer services. Handle reparations, track warantees, follow
			customer claims, plan delivery orders, etc.
            </p>
        </div>
        <div class='oe_span6'>
            <img class="oe_picture oe_screenshot" src="pos_customers.png">
        </div>
    </div>
</section>

<section class='oe_container'>
    <div class='oe_row'>
        <h2 class='oe_slogan'>Invoicing &amp; Accounting Integration</h2> 
        <div class='oe_span6'>
            <img class="oe_picture oe_screenshot" src="pos_invoice.png">
        </div>
        <div class='oe_span6'>
            <p>
			Produce customer invoices in just a few clicks.  Control sales and
			cash in real time and use Odoo's powerful reporting to make
			smarter decisions to improve your store's efficiency.
            </p><p>
			No more hassle of having to integrate softwares: get all your sales
			and inventory operations automatically posted in your G/L. 
            </p>
        </div>
    </div>
</section>

<section class='oe_container'>
    <div class='oe_row'>
        <h2 class='oe_slogan'>Unified Data Amongst All Shops</h2>
        <h3 class='oe_slogan'>Sync products, prices, customers with no effort</h3>
        <div class='oe_span6'>
            <img class="oe_picture oe_screenshot" src="pos_products.png">
        </div>
        <div class='oe_span6'>
            <p>
            Get new products, pricing strategies and promotions applied automatically to
            selected stores. Work on a unified customer base. No complex interface is
            required to pilot a global strategy amongst all your stores.
            </p>
            <p>
			With Odoo as a backend, you have a system proven to be perfectly
			suitable for small stores or large multinationals.
            </p>
        </div>
    </div>
</section>

<section class='oe_container oe_dark'>
    <div class='oe_row'>
        <h2 class='oe_slogan'>Know your customers - in store and out</h2>
        <div class='oe_span6'>
            <p>
            Successful brands integrates all their customer relationship accross all their
            channels to develop accurate customer profile and communicate with shoppers
            as they make buying decisions, in store or online.
            </p>
            <p>
            With Odoo, you get a 360° customer view, including cross-channel sales,
            interaction history, profiles, and more.
            </p>
        </div>
        <div class='oe_span6'>
            <img class="oe_picture oe_screenshot" src="pos_customer_form.png">
        </div>
    </div>
</section>
