<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Sales Management Made Easy</h2>
        <h3 class="oe_slogan">From quotes to invoices, in just a few clicks</h3>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                    <img src="sale_invoice.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
Drive your sales operations from quotes to invoices with all the information
you need, easily accessible. Keep track of long term contracts, automate invoicing
and notify sales when they have things to do.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Create Professional Quotations</h2>
        <div class="oe_span6">
            <p class='oe_mt32'>
Create quotations in a matter of seconds. Send quotes by email or get a
professional PDF. Track quotations, and convert them to sales order in one click.
            </p>
            <p class='oe_mt32'>
Spend the extra time focusing on selling, not recording data.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="sale_sc_01.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Fully Integrated</h2>
        <h3 class="oe_slogan">The information your need, where you need it</h3>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="sale_sc_02.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                Don't lose time looking for customers, products or contracts
                related information; they are all conveniently accessible when
                creating quotations.
            </p><p class='oe_mt32'>
                Get access to stock availabilities in the different warehouses,
                to customer's specific prices, to the history of preceeding
                offers for this prospect, etc.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_centeralign oe_padded oe_mb32">
    <div class='oe_cover'>
        <img src="/sale/static/description/ebook-marketing.png">
    </div>
    <a href="http://www.cloudbridge.com.sg/ebooks/marketing" target="_blank" class="oe_button oe_big">Download our free E-book</a>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Your Address Book</h2>
        <h3 class="oe_slogan">So many features, so easy to use</h3>
        <div class="oe_span6">
            <p class='oe_mt32'>
Assign tags to your prospects, manage
relationships between contacts and store all customer's preferences including
pricing, billing conditions, addresses, payment terms, etc.
            </p>
            <p class='oe_mt32'>
Navigate through all the documents related to a customer with the powerfull
breadcrumb: quotations, invoices, emails, meetings.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="sale_sc_03.png">
            </div>
        </div>
   </div>
</section>

<section class="oe_container">
    <h2 class="oe_slogan">Fully Integrated Invoicing</h2>
    <h3 class="oe_slogan">All the invoicing methods you need</h3>
    <div class="oe_row">
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="sale_sc_04.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
                Whether you invoice based on time and materials, on delivery
                orders or fixed price; Odoo supports all possible methods.
            </p>
            <p class='oe_mt32'>
                Get recurring invoices produced automatically, create advances
                in just a few clicks, re-invoices expenses easily, etc.
            </p>
        </div>
   </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
      <h2 class="oe_slogan">Keep track of your contracts</h2>
      <div class="oe_span6">
            <p class='oe_mt32'>
Get rid of wasted paper and record all your contracts in the application. Invoices
are generated automatically based on your contract conditions. Your account
managers get alerts before contracts have to be renewed.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="sale_sc_05.png">
            </div>
        </div>

    </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Communicate Efficiently With Customers</h2>
      <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="sale_sc_06.png">
            </div>
       </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
The chatter feature enables you to communicate faster and more efficiently with
your customer. This takes place directly on a quotation or sale order from
within Odoo or via email.
            </p>
            <p class='oe_mt32'>
Get all the negotiations and discussions attached to the right document
and relevent managers notified on specific events.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h2 class="oe_slogan">Fully Extensible</h2>
        <h3 class="oe_slogan">Activate features on demand</h3>
        <div class="oe_span6">
            <p class='oe_mt32'>
By default, sales order are very simple, limited to a small number of features.
Don't be confused by features you don't need.
            </p>
            <p class='oe_mt32'>
But you can activate options to fit your specific need: multi-warehouses, multi
unit of measures, manage customer specific prices with pricelists, control
margins on quotations, use different addresses for shipping and billing, etc.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="sale_sc_07.png">
            </div>
        </div>
   </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Built-in Customer Relationship Management</h2>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="sale_sc_08.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
Activate the CRM application to manage your funnel of opportunities, attract
leads, log calls, schedule meetings and launch marketing campaigns.
            </p>
            <p class='oe_mt32'>
            Opportunities can be converted into quotations in just one click.
            </p>
        </div>
   </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
       <h2 class="oe_slogan">Drive Engagement with Gamification</h2>
       <h3 class="oe_slogan">Align Sales On Clear Targets</h3>
       <div class="oe_span6">
            <p class='oe_mt32'>
Define clear targets and commission plans. Get real time statistics on the
performance of individual sales or teams. Motivate your teams with challenges,
rewards and leaderboards.
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture oe_screenshot" src="sale_sc_00.png">
            </div>
        </div>
     </div>
</section>

<section class="oe_container">
    <div class="oe_row">
        <h2 class="oe_slogan">Have Clear Pricing Strategies</h2>
        <div class="oe_span6">
            <div class="oe_bg_img">
                <img class="oe_picture" src="sales_target.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class='oe_mt32'>
Use pricelists to record special conditions for a specific customer or to
define prices for a segment of customers. Define promotions and have them
applied automatically for all your sales teams.
            </p>
        </div>
   </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <div class="oe_span12">
            <h2 class="oe_slogan">Many companies already enjoy it</h2>
            <h3 class="oe_slogan">Hear what they have to say !</h3>
        </div>
        <div class="oe_span6">
            <div class="oe_quote">
                <q>
                    Odoo proved to be an effective tool to sustain our operations
                    for the bright future. It's stable, robust and easy.
                </q>
                <cite class="oe_cite oe_clearfix">
                    <img class="oe_photo" src="Philippe-Leruth.png">
                    <div class="oe_author">Philippe Leruth</div>
                    <div class="oe_job">Director of Singer France</div>
                </cite>
            </div>
        </div>
        <div class="oe_span6">
            <div class="oe_quote">
                <q>
                    Odoo is a great tool to drive sales. We manage our prospects in different stages
                    to get a proper overview of our success rate.
                </q>
                <cite class="oe_cite oe_clearfix">
                    <img class="oe_photo" src="Gunther-Rombouts.png">
                    <div class="oe_author">Ir Ing Gunther Rombouts</div>
                    <div class="oe_job">Indutrial Automation Specialist at <a href="http://www.hew-automation.be" target="_blank">HeW automation</a>.</div>
                </cite>
            </div>
        </div>
    </div>
</section>
<section class="oe_container oe_separator">
</section>
