<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Presentations, Videos, Documents, Infographics</h2>
            <h3 class="oe_slogan">Publish your presentations, videos, documents, infographics, etc.</h3>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
            <p class="oe_mt32">
                <img src="slides4.png" class="oe_picture oe_screenshot">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
            Odoo presentations lets you upload files privately or publicly in the following file formats: PowerPoint, PDF, Keynote, Video or OpenDocument presentations.</p>
            <p>This module is originally meant to be used by businesses to share slides among employees more easily. It also provides the users with the ability to rate, comment, share the uploaded content and see detailed statistics like total views, web-views, embedded-views, likes and dislikes, total comments, total social-shares and shares on individual social site.
            </p>
            <div class="oe_centeralign oe_websiteonly">
                <a class="oe_button oe_big oe_tacky" href="mailto:sales@cloudbridge.com.sg">Contact Us</a>
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Features</h2>
        <h3 class="oe_slogan">Publish Presentation, Videos, Infographics or Documents</h3>
        <div class="oe_span6">
            <p class="oe_mt16">
                <ul>
                    <li>Allow users to publish their presentations, videos, infographics as well as images</li>
                    <li>Publish publicly or privately</li>
                    <li>Share the content that matters to you with your colleagues, customers, friends and visitors</li>
                    <li>If you have any idea, story, research project, presentation, photo collection or
                    expert knowledge on a topic? Upload it and reach a wide audience with this application</li>
                    <li>Searching becomes super easy with tags, title and content of file</li>
                    <li>Propose related and most viewed documents
                    (presentations, videos, Infographics or images) to user</li>
                </ul>
            </p>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img src="slides1.png" class="oe_picture oe_screenshot">
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Channel Management</h3>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img src="slides2.png" class="oe_picture oe_screenshot">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                <ul>
                    <li>Use single or multiple channels</li>
                    <li>Privacy of a channel can be easily maintained</li>
                    <li>Organize your channels in categories</li>
                </ul>
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Embed anywhere</h3>
        <div class="oe_span6">
            <p class="oe_mt32">This application allows embedding into website and blogs</p>
            <p>Easily shareable on LinkedIn, Twitter, Facebook and other popular social media platforms</p>
            <p>Provides smart analytics like:</p>
            <ul>
                <li>Views count and traffic origin</li>
                <li>Measure engagement for each upload: Know what's being downloaded, liked, commented on and emailed</li>
            </ul>
        </div>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img src="slides3.png" class="oe_picture oe_screenshot">
            </div>
        </div>
    </div>
</section>
