<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Purchase Management</h2>
            <h3 class="oe_slogan">Automate requisition-to-pay, control invoicing</h3>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot">
                    <img src="purchase_po.png">
            </div>
        </div>
        <div class="oe_span6">
           <p class="oe_mt32">
Automate procurement propositions, launch request for quotations, track purchase orders, manage vendors' information, control products reception and check vendors' invoices. 
           </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Automated Procurement Propositions</h2>
        <h3 class="oe_slogan">Reduce inventory level with procurement rules</h3>
        <div class="oe_span6">
            <p class="oe_mt32">
Get the right purchase proposition at the right time to reduce your inventory level. Improve your purchase and inventory performance with procurement rules depending on stock levels, logistic rules, sales orders, forecasted manufacturing orders, etc.
            </p><p>
Send requests for quotations or purchase orders to your vendor in one click. Get access to product receptions and invoices from your purchase order.
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="purchase_product_form.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Purchase Tenders</h2>
        <h3 class="oe_slogan">Get the best price by negotiating with several vendors</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="purchase_procurement.png">
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
Launch purchase tenders, integrate vendor's answers in the process and compare propositions. Choose the best offer and send purchase orders easily. Use reporting to analyse the quality of your vendors afterwards.
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_centeralign oe_padded oe_mb32">
    <div class='oe_cover'>
        <img src="/purchase/static/description/ebook-logistic.png">
    </div>
    <a href="http://www.cloudbridge.com.sg/ebooks/logistic" target="_blank" class="oe_button oe_big">Download our free E-book</a>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Email integrations</h2>
        <div class="oe_span6">
            <p class="oe_mt32">
Integrate all vendor's communications on the purchase orders (or RfQs) to get a strong traceability on the negotiation or after sales service issues. Use the claim management module to track issues related to vendors.
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture" src="purchase_compose.png">
        </div>
    </div>
</section>


<section class="oe_container">
    <div class="oe_row oe_spaced">
	    <h2 class="oe_slogan">Standard Price, Average Price, FIFO</h2>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="purchase_product.png">
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
Use the costing method that reflects your business: standard price, average price, fifo or lifo. Get your accounting entries and the right inventory valuation in real-time; Odoo manages everything for you, transparently.
            </p>
        </div>
    </div>
</section>


<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
	    <h2 class="oe_slogan">Import Vendor Pricelists</h2>
	    <h3 class="oe_slogan">Take smart purchase decisions using the best prices</h3>
        <div class="oe_span6">
            <p class="oe_mt32">
Easily import vendor's pricelists to make smarter purchase decisions based on promotions, prices depending on quantities and special contract conditions. You can even base your sales price depending on your vendor's prices.
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="purchase_import.png">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Control Products and Invoices</h2>
        <div class="oe_span6">
            <div class="oe_row_img oe_centered">
                <img class="oe_picture oe_screenshot" src="purchase_incoming.png">
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
No product or order is left behind, the inventory control allows you to manage back orders, refunds, product reception and quality control. Choose the right control method according to your need.
            </p>
            <p>
Control vendor invoices with no effort. Choose the right method according to your need: pre-generate draft invoices based on purchase orders, on products receptions, create invoices manually and import lines from purchase orders, etc.
            </p>
        </div>
    </div>
</section>
